.box {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  border: solid black 3px;
  width: 300px;
  height: 314px;
  margin-top: 100px;
  margin-left: 100px;
}
.b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9 {
  height: 100px;
  border: solid black 3px;
  cursor: pointer;
  font-family: arial;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: black;
  font-family: arial;
  font-weight: bold;
  font-size: 15px;
  margin-left: 100px;
}
.bt {
  background-color: rgb(30, 30, 163);
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px;
  margin-left: 100px;
  cursor: pointer;
}
.bt:hover {
  background-color: rgb(57, 57, 165);
}
.bt:active {
  background-color: rgb(75, 75, 160);
}
